
*{
    margin:0px;
    padding:0px;
    font-family:sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        'h h h'
        's m m'
        's f f';
    gap: 0px;
    width: 100vw;
    height: 100vh;
}

.header{
    grid-area: h;
    background-color: #59546d;
    PADDING: 10px 10px;
    text-align: right;

}

.top {

    margin-right: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li a {
    text-align: right;
    
}

ul a {
    display: block;
    color: #e0def4;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: #2a273f;
    
}

.sidebar {
    grid-area: s;
    background-color: #59546d;
    padding: 20px 20px;
    text-align: left;
}


.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}


