.container {
    display: grid;
    grid-template-rows: 5rem 1fr 5rem;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        'h h h'
        's m m'
        's f f';
    gap: 5px;
    width: 100vw;
    height: 100vh;
}

.header{
    grid-area: h;
    background-color: #59546d;
}

.top {

    margin-right: 3rem;
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul a {
    display: block;
    color: #e0def4;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

ul a:hover {
    background-color: #2a273f;
}
